<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Answers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body>

      <nav>
        <a href="/"> Home </a>
        <a href="/questions"> Questions </a>
        <a href="/questions/new"> New Questions</a>
      </nav>
